/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url('bbackground.webp'); /* Replace 'background.jpg' with your image file */
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

header {
  text-align: center;
  padding: 50px 0;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.5rem;
  opacity: 0.8;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}

.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container img {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.05);
}

.testimonial {
  background-color: #090909;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.testimonial blockquote {
  font-style: italic;
  margin-bottom: 20px;
}

.testimonial cite {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  color: #e7ca0e;
  text-align: center;
}
